@charset "utf-8"

.footer{
    position: relative;
    width: 100%;
    height: 300px;
}

.footer-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-nav{
    position: absolute;
    top: 16%;
    left: 20%;
    transform: translate(-50%,-50%);
    margin-top: 40px;
}

.footer-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li{
    margin: 8px 0;
}

.footer-nav a{
    text-decoration: none;
    color: white;
}